@model List<Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipo aleatorio</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Número pokedex
            </th>
            <th>
                Nombre
            </th>
            <th>
                <a href=@Url.Action("FilterBy", "Equipo", new { filtro = "peso"})>
                    Peso @(
                    ViewBag.DireccionPeso == null ? "" : ViewBag.DireccionPeso == "DESC" ? "↓" : "↑")
                </a>
            </th>
            <th>
                <a href=@Url.Action("FilterBy", "Equipo", new { filtro = "altura"})>
                    Altura @(
                    ViewBag.DireccionAlt == null ? "" : ViewBag.DireccionAlt == "DESC" ? "↓" : "↑")
                </a>
            </th>
            <th>
                    Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                        <tr>
                            <td>
                    @Html.DisplayFor(modelItem => item.numero_pokedex)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.peso)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.altura)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                            </td>
                            <td>
                    @Html.ActionLink("Detalles", "GetDetail", "Pokemon", new { codigo = item.numero_pokedex })
                            </td>
                            <td>
                                Añadir a mi equipo
                            </td>
                        </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad de Pokémon
            </th>
            <th>
                Tipo de Pokémon predominante
            </th>
            <th>
                Peso medio del equipo
            </th>
            <th>
                Altura media del equipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    6
                </td>
                <td>
                @ViewBag.TipoPredominante
                </td>
                <td>
                @ViewBag.PesoMedio
                </td>
                <td>
                @ViewBag.AlturaMedia
                </td>
                <td>
                    Añadir a mi equipo
                </td>
            </tr>
    </tbody>
</table>
