@model IEnumerable<Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pokeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pokeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numPokedex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pokeName)
            </td>
            <td>
                @Html.ActionLink("Detalles", "GetDetail", new { codigo = item.numPokedex })
            </td>            <td>
                Añadir a mi equipo
            </td>
        </tr>
}
    </tbody>
</table>
