@model IEnumerable<Pokemon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.peso), "FilterBy", "peso")
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.peso), "FilterBy", "altura")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numero_pokedex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.altura)
            </td>
            <td>
                @Html.ActionLink("Detalles", "GetDetail", new { codigo = item.numero_pokedex })
            </td>            <td>
                Añadir a mi equipo
            </td>
        </tr>
}
    </tbody>
</table>
