@model IEnumerable<Pokemon>;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
@if (ViewBag.ErrorMessage != null)
{
    @ViewBag.ErrorMessage
}
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Número pokedex
            </th>
            <th>
                Nombre
            </th>
            <th>
                <a href=@Url.Action("FilterBy", "Pokemon", new { filtro = "peso"})>
                    Peso @(
                        ViewBag.DireccionPeso == null ? "" : ViewBag.DireccionPeso == "DESC" ? "↓" : "↑")</a>
            </th>
            <th>
                <a href=@Url.Action("FilterBy", "Pokemon", new { filtro = "altura"})>
                    Altura @(
                    ViewBag.DireccionAlt == null ? "" : ViewBag.DireccionAlt == "DESC" ? "↓" : "↑")
                </a>
            </th>
            <th> Tipo<br />
                    </a>
                    <input type="Tipo" placeholder="Filtra por tipo" name="tipoFiltro" id="typeFilterText" />
                    <button id="filterLink" onclick="filtrar()">Filtrar</button>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_pokedex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "GetDetail", new { codigo = item.numero_pokedex })
                </td>
                <td>
                    <a href=@Url.Action("SavePokemon", "Pokemon", new { numPokedex = item.numero_pokedex })>Añadir a mi equipo</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.getElementById("filterLink").addEventListener("click", function () {
        var tipoFiltro = document.getElementById("typeFilterText").value;
        window.location.href = '@Url.Action("FilterByTipo", "Pokemon")?tipoFiltro=' + tipoFiltro;
    });
</script>