@model pokemovimientos

@{
    ViewData["Title"] = "VerPokemon";
}

<h1>Detalles Pokemon</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Pokemons.numPokedex)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemons.numPokedex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pokemons.numPokedex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemons.pokeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pokemons.pokeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemons.pokeWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pokemons.pokeWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pokemons.pokeHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pokemons.pokeHeight)
        </dd>
        <dt class = "col-sm-2">
            Evolución
        </dt>
        <dd class = "col-sm-10">
            #todo
        </dd>
        <dt class = "col-sm-2">
            Involución
        </dt>
        <dd class = "col-sm-10">
            #todo
        </dd>
        <dt class="col-sm-2">
            Movimientos
        </dt>
        @foreach (var item in Model.Moves)
        {
            <dd class="col-sm-2">
                @Html.DisplayFor(modelItem => item.movementName)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
