@model PokeMovimiento;
@{
    ViewData["Title"] = "VerPokemon";
}

<h1>Detalles Pokemon</h1>

<div>
    <h4>@Html.DisplayFor(model => model.pokemons.numero_pokedex)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pokemons.numero_pokedex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokemons.numero_pokedex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pokemons.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokemons.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pokemons.peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokemons.peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pokemons.altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokemons.altura)
        </dd>
        <dt class = "col-sm-2">
            Evolución
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokemons.pokemon_evolucionado)
        </dd>
        <dt class = "col-sm-2">
            Involución
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pokemons.pokemon_origen)
        </dd>
        <dt class="col-sm-2">
            Movimientos
        </dt>
        @foreach (var item in Model.movimientos)
        {
            <dd class="col-sm-2">
                @Html.DisplayFor(modelItem => item.nombre)
            </dd>
        }
        <dt class="col-sm-2">
            Tipos
        </dt>
        @foreach (var item in Model.tipos)
        {
            <dd class="col-sm-2">
                @Html.DisplayFor(modelItem => item.nombre)
            </dd>
        }
    </dl>
</div>
<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>
